* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 6px 30px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.482);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  width: fit-content;
}

/* HERO SECTION */

/* NAVIGATION BAR  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a:hover {
  font-weight: 900;
}

.nav-links li {
  padding: 0 1rem;
}

.nav-links a {
  font-weight: 450;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 1.5625rem;
  height: 0.375rem;
  background-color: #fff;
  margin: 0.3125rem;
}

.MAIT-LOGO {
  width: 3.3rem;
  height: 3rem;
}

.Contact-Us-Button {
  padding: 0.6rem 1rem;
  background-color: #231651;
  color: white;
  font-size: 12px;
  border-radius: 2rem;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 50px 0px;
  margin: auto;
  background-color: #e2fbf5;
}
.hero-content-left {
  padding: 30px 10px 30px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: min-content;
}

.tagline {
  font-weight: 900;
  position: relative;
  animation: slideUp 0.5s ease-in-out forwards;
}

.tagline span {
  font-size: 32px;
  display: inline-block;
  opacity: 0;
}

.tagline span:nth-child(1) {
  color: #37006f;
  animation: slideUp 0.5s ease-in-out 1.5s forwards;
}

.tagline span:nth-child(2) {
  color: #a40045;
  animation: slideUp 0.5s ease-in-out 2s forwards;
}

.tagline span:nth-child(3) {
  color: #2800b4;
  animation: slideUp 0.5s ease-in-out 2.5s forwards;
}
.Main-Heading-Mait-Journals {
  color: #2e3193;
  font-weight: 900;
}

h1 {
  color: #546297;
  font-size: 44px;
}

.radio-buttons input[type="radio"] {
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  transition: border-color 0.2s;
}

.radio-buttons input[type="radio"]:checked {
  border-color: #000000;
  background-color: #2e3193; /* Set the inner color to #2e3193 */
}

.radio-buttons {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.Search-Bar-Input {
  padding: 6px 12px;
  height: 40px;
  width: 400px;
  border-radius: 4rem 0rem 0rem 4rem;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.361);
}

.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 0rem;
}

.Categories-Dropdown {
  padding: 6px 12px;
  height: 50px;
  width: 180px;
}

.Search-Icon {
  background-color: #231651;
  padding: 1rem;
  height: 20px;
  width: 20px;
  border-radius: 0rem 4rem 4rem 0rem;
}

.stats {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0.1rem;
  background-color: #dee1f5;
  padding: 20px 32px;
  color: #231651;
  width: fit-content;
  text-align: center;
  border-radius: 1rem;
}

.stat-item p,
.stat-item h3 {
  margin: 0rem;
}

.Hero-image {
  width: 32vw;
}

@media only screen and (max-width: 576px) {
  .stats {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Search-Icon {
    background-color: #231651;
    padding: 1rem;
    height: 12px;
    width: 12px;
    border-radius: 0rem 4rem 4rem 0rem;
  }
  .nav-links {
    display: none;
  }
  header {
    padding: 6px 30px;
  }

  /* HERO SECTION */

  /* NAVIGATION BAR  */

  .nav-links a:hover {
    font-weight: 900;
  }

  .nav-links li {
    padding: 0 1rem;
  }

  .nav-links a {
    font-weight: 450;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 1.5625rem;
    height: 0.375rem;
    background-color: #fff;
    margin: 0.3125rem;
  }

  .MAIT-LOGO {
    width: 3rem;
    height: 2.6rem;
  }

  .Contact-Us-Button {
    display: none;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 10px 0px;
    margin: auto;
    background-color: #e2fbf5;
  }

  .hero-content-left {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: min-content;
  }

  .tagline span {
    font-size: 14px;
    text-align: center;
    margin: auto;
    opacity: 0;
  }

  .Main-Heading-Mait-Journals {
    color: #2e3193;
    font-weight: 900;
  }

  h1 {
    width: auto;
    color: #546297;
    font-size: 24px;
    text-align: center;
  }

  .radio-buttons input[type="radio"]:checked {
    border-color: #000000;
    background-color: #2e3193; /* Set the inner color to #2e3193 */
  }

  .radio-buttons {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .Search-Bar-Input {
    padding: 6px 12px;
    height: 30px;
    width: 30vw;
    border-radius: 4rem 0rem 0rem 4rem;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.361);
  }

  .search-bar {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 0rem;
  }

  .Categories-Dropdown {
    padding: 6px 12px;
    height: 42px;
    width:33vw;
    align-self: center;
  }

  .stat-item {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding: 10px 22px;
    color: #231651;
    width: fit-content;
    text-align: center;
    border-radius: 1rem;
  }

  .stat-item p,
  .stat-item h3 {
    margin: 0rem;
  }

  .Hero-image {
    height: 180px;
    width: 60vw;
  }

  .tagline {
    margin-left: 13px;
  }
}
